/* --常规设置-- */
.col {
    /* align-items: flex-start; */
    box-sizing: border-box;
    width: var(--width);
}

/* 偏移 */
.row>.offset {
    margin-left: var(--margin);
}

.row.reverse>.offset {
    margin-right: var(--margin);
    margin-left: unset;
}

/* --响应式-- */

/* xs */
@media (max-width: 575px) {
    .col-xs {
        width: var(--col-xs);
        display: var(--hidden-xs)
    }

    .offset-xs {
        margin-left: var(--offset-xs);
    }

    .row.reverse>.offset-xs {
        margin-left: var(--offset-xs);
    }
}

/* sm */
@media (min-width: 576px) {
    .col-sm {
        width: var(--col-sm);
        display: var(--hidden-sm);
    }

    .offset-sm {
        margin-left: var(--offset-sm);
    }

    .row.reverse>.offset-sm {
        margin-left: var(--offset-sm);
    }
}

/* md */
@media (min-width: 768px) {
    .col-md {
        width: var(--col-md);
        display: var(--hidden-md)
    }

    .offset-md {
        margin-left: var(--offset-md);
    }

    .row.reverse>.offset-md {
        margin-left: var(--offset-md);
    }
}

/* lg */
@media (min-width: 992px) {
    .col-lg {
        width: var(--col-lg);
        display: var(--hidden-lg)
    }

    .offset-lg {
        margin-left: var(--offset-lg);
    }

    .row.reverse>.offset-lg {
        margin-left: var(--offset-lg);
    }
}

/* xl */
@media (min-width: 1200px) {
    .col-xl {
        width: var(--col-xl);
        display: var(--hidden-lg)
    }

    .offset-xl {
        margin-left: var(--offset-xl);
    }

    .row.reverse>.offset-xl {
        margin-left: var(--offset-xl);
    }

}

.col,
.col-xs,
.col-sm,
.col-md,
.col-lg,
.col-xl {
    transition: 0.3s ease-in-out;
    /* 内外边距和变宽将包含在总大小内 */
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
}
