/* 公共基础参数 */
.shape.s {
    --SIZE: 16px;
}

.shape.m {
    --SIZE: 24px;
}

.shape.l {
    --SIZE: 32px;
}

.shape {
    --SHAODW: 0.08;
    --DIAMETER: calc(var(--SIZE) * 0.8);
    --OFF-SET: calc((var(--SIZE) - var(--DIAMETER)) / 2);
}

/* switch button 共有参数 */
.shape.m-button,
.shape.m-switch {
    --HEIGHT: var(--SIZE);
    --WIDTH: calc(var(--SIZE)*1.65);
    --MASK-WIDTH: calc(var(--WIDTH) - var(--OFF-SET) * 2);
    --MASK-HEIGHT: calc(var(--HEIGHT) - var(--OFF-SET) * 2);
}

/* switch */
.shape.m-switch {
    --LEVER_DIAMETER: var(--DIAMETER);
    --LEVER-WIDER: calc(var(--LEVER_DIAMETER) * 1.2);
    --LEVER-BORDER: calc(var(--LEVER_DIAMETER) * 0.1);
    --LEVER-SHADOW: calc(var(--LEVER_DIAMETER) * var(--SHAODW));
}

/* Check box */
.shape.m-check-box {
    --PATH-WIDTH: calc(var(--BASE-LENGTH) * 1.5)
}
