/* 公共基础参数 */
.shape.s {
    --SIZE: 16px;
}

.shape.m {
    --SIZE: 24px;
}

.shape.l {
    --SIZE: 32px;
}

.shape {
    --BASE-LENGTH: calc(var(--SIZE) / 8);
    --OFF-SET: var(--BASE-LENGTH);
    --SHAODW: 0.08;
}

/* switch button 共有参数 */
.shape.m-check-box,
.shape.m-radio,
.shape.m-button,
.shape.m-switch {
    --HEIGHT: calc(var(--BASE-LENGTH) * 8);
    --WIDTH: calc(var(--BASE-LENGTH) * 13);

}

/* switch */
.shape.m-switch {
    --MASK-WIDTH: calc(var(--WIDTH) - var(--OFF-SET) * 2);
    --MASK-HEIGHT: calc(var(--HEIGHT) - var(--OFF-SET) * 2);
    --LEVER_DIAMETER: var(--MASK-HEIGHT);
    --LEVER-WIDER: calc(var(--LEVER_DIAMETER) * 1.2);
    --LEVER-SHADOW: calc(var(--LEVER_DIAMETER) * var(--SHAODW));
}

.shape.m-switch.s {
    --LEVER-BORDER: calc(var(--LEVER_DIAMETER) * 0.15);
}

.shape.m-switch.m {
    --LEVER-BORDER: calc(var(--LEVER_DIAMETER) * 0.12);
}

.shape.m-switch.l {
    --LEVER-BORDER: calc(var(--LEVER_DIAMETER) * 0.1);
}

/* Check box */
.shape.m-check-box {}

/* Radio */
.shape.m-check-box,
.shape.m-radio {
    --DOT-DIAMETER: calc(var(--HEIGHT) - var(--OFF-SET) * 4);
}
