@import url('./viewElZ-indexSet.css');
@import url('./font.css');

strong>em {
    font-size: 1rem;
    color: var(--text-hint);
}

.base-page strong {
    font-size: 1rem;
}

li>code,
p>code {
    background: var(--border-light);
    font-family: 'sarasa mono';
    border-radius: 4px;
    padding: 0 0.3em;
}

/* code,
div.code {
    white-space: pre;
} */

/* demo */
.demo-cube {
    background: var(--info-colors-primary);
    color: var(--text-light);
    border-radius: 4px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sarasa mono;
}

.demo-cube.light {
    background: var(--info-colors-primary-light);
}

.demo {
    outline: solid 2px var(--border-light);
    background: var(--background-light);
    border-radius: 8px;
}

.demo.padding {
    padding: 1rem;
}

.demo .demo {
    outline: unset;
    padding: unset;
}

.demo+.preview-demo-code,
.preview-demo-code+.demo,
.demo+.demo {
    margin-top: 2rem;
}

.demo.space-between,
.demo .y-center,
.demo .x-center,
.demo.y-center,
.demo.x-center {
    display: flex;
}

.demo .y-center,
.demo.y-center {
    align-items: center;
}

.demo .x-center,
.demo.x-center {
    justify-content: center;
}

.demo.space-between {
    justify-content: space-between;
}

.demo p:nth-child(1) {
    margin-top: unset;
}

.markdown-body h2 {
    border-top: 1px solid var(--border-light);
    padding-top: 1em;
}

.markdown-body ol,
.markdown-body ul {
    padding-left: 1em;
}


h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

h4 {
    font-size: 1.3rem;
}

/* css for control.vue */
.demo.control .action-label {
    background: var(--background-dark);
    padding: 0.8em 0.5em;
    outline: unset;
    margin: unset;
    width: 100%;
}

.demo.control .action-label+.action-label {
    margin-left: 0.5em;
}

.demo.control .j-row+.j-row {
    margin-top: 0.5rem;
}

.demo.control p>span,
.demo.control span,
.demo.control p.sub-title,
.demo.control p.sub-text,
.demo.control .action-label>p {
    font-family: "sarasa mono";
    color: var(--text-hint);
    font-size: 0.6rem;
}

.demo.control p.sub-title {
    font-weight: bolder;
}

.demo.control p,
.demo.control strong {
    margin-bottom: 0.2rem;
}

.demo.control .j-button {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-family: "sarasa mono", Consolas, "Courier New", Courier, FreeMono,
        monospace;
    padding: 0.5rem 0;
    border-radius: 8px;
}

.demo.control .j-button+.j-button {
    margin-left: 0.5rem;
}