/* 默认字体 */
@font-face {
	font-family: Sarasa;
	font-weight: normal;
	src: url('./ui/sarasa-ui-sc-regular.ttf'), local('sarasa-ui-sc-regular.ttf');
}

/* 粗体字 */
@font-face {
	font-family: Sarasa;
	font-weight: bold;
	src: url('./ui/sarasa-ui-sc-semibold.ttf'), local('sarasa-ui-sc-bold.ttf');
}

/* 等宽 */
@font-face {
	/* Sarasa Mono sc Semibold */
	font-family: SarasaMono;
	font-weight: normal;
	src: url('./ui/sarasa-mono-sc-semibold.ttf'),
		local('./ui/sarasa-mono-sc-semibold.ttf');
}

:root {
	font-family: Sarasa;
}
