/*------------ Default ----------*/

/* 基底 */
.switch {
    /* --HEIGHT: 30px;
    --WIDTH: 50px; */
}

.switch {
    border-radius: calc(var(--HEIGHT) / 2);
    height: var(--HEIGHT);
    width: var(--WIDTH);
    display: inline-block;
    position: relative;
    user-select: none;
    margin: 0 2px;
}

/* 遮罩 */
.switch::before {
    border-radius: calc(var(--WIDTH) / 2);
    height: var(--MASK-HEIGHT);
    width: var(--MASK-WIDTH);
    left: var(--OFF-SET);
    top: var(--OFF-SET);
    position: absolute;
    content: "";
}

/* 拨杆 */
.switch::after {
    box-shadow:
        0 var(--LEVER-SHADOW) calc(var(--LEVER-SHADOW) * 2) var(--shadow-1);
    border-radius: calc(var(--LEVER_DIAMETER) / 2);
    transform: translateX(var(--OFF-SET));
    height: var(--LEVER_DIAMETER);
    width: var(--LEVER_DIAMETER);
    top: var(--OFF-SET);
    position: absolute;
    content: "";
}



/*------------ On ----------*/

/* 移动拨杆 */
.switch.on::after {
    transform: translateX(calc(var(--WIDTH) - var(--LEVER_DIAMETER) - var(--OFF-SET)));
}

/* 缩放基底遮罩 */
.switch.on::before {
    transform: scale(0);
}




/*------------ Active ----------*/
/* 拉宽拨杆*/
.switch.wider:active::after {
    width: var(--LEVER-WIDER);
}

/* 切换到关闭时需要进行位移 */
.switch.wider.on:active::after {
    transform: translateX(calc(var(--WIDTH) - var(--LEVER-WIDER) - var(--OFF-SET)));
    width: var(--LEVER-WIDER);
}

/* 缩小基底遮罩 */
.switch:active::before {
    transform: scale(0);
}




/*------------ Disabled ----------*/

/* 遮罩 */
.switch.disabled::before {
    /* 收起遮罩 */
    transform: scale(0);
}

/* 切换指针为禁用 */
.switch.disabled {
    cursor: not-allowed;
}



/*------------ Animation ----------*/

/* 弹性过渡动画 */
/* .switch::after, */
.switch::before,
.switch {
    transition: 0.4s cubic-bezier(0.3, 0.6, 0.15, 1);
}

/* 弹性效果 */
.switch::after {
    transition: 0.4s cubic-bezier(0.3, 0.6, 0.15, 1.2);

}
