name: Mirror to Doc Repo

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Configure Private Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.JETUIDOC_RSA_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "StrictHostKeyChecking no" >> ~/.ssh/config
      - name: build and push
        env:
          SOURCE_REPO: "https://github.com/abchiyi/Jet-Plan-UI.git"
          DESTINATION_REPO: "git@github.com:jetplanui/jetplanui.github.io.git"
        run: |
          git config --global user.email "meme_me2019@outlook.com"
          git config --global user.name "abchiyi"

          echo '----- Clone JetUICode -----'
          mkdir ~/Code
          cd ~/Code
          git clone "$SOURCE_REPO" .

          echo '----- Clone JetUIDoc -----'
          mkdir ~/Doc
          cd ~/Doc
          git clone "$DESTINATION_REPO" .


          echo '----- To build -----'
          cd  ~/Code
          npm install --force
          npm run build-only
          rm -rf ./.git
          echo 'build comp'

          echo '----- To push -----'
          cp -r -f ~/Code/ ~/Doc/docs
          cd ~/Doc
          git add .
          git commit -am 'update-doc'
          git push
          echo '----- Push comp -----'
